<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Words frequency - {{ file_name }}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5 mb-5"><code>{{ file_name }}</code></h1>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-12 col-lg-6">
                <svg style="width: 230px; height: 230px;">
                    <svg style="width: 230px; height: 230px;">
                        <path fill="#61C0BF" d="M115,115 L115,0 A115,115 1 0,1 196.317, 33.6827 z" transform="rotate(0, 115, 115)"></path>
                        <path fill="#DA507A" d="M115,115 L115,0 A115,115 1 0,1 196.317, 33.6827 z" transform="rotate(45, 115, 115)"></path>
                        <path fill="#BB3D49" d="M115,115 L115,0 A115,115 1 0,1 196.317, 33.6827 z" transform="rotate(90, 115, 115)"></path>
                    </svg>
                </svg>
            </div>
            <div class="col col-sm-12 col-lg-6">Adios</div>
        </div>
        <hr class="mt-5">
        <div class="row mb-4">
            <div class="col">
                <h5>Frequencia de palabras:</h5>
                <p>Palabras: <b>{{ total_words }}</b> - <i>(únicas: <b>{{ total_unique_words }}</b>)</i></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{ word_count }}
            </div>
        </div>
    </div>
</body>
</html>